 .footer-main{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
}
.email{
    position: absolute;
    bottom: 60px;
    color: #fff;
    font-family: gumela;
    letter-spacing: .1rem;
}
.contactNo{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-family: gumela;
    letter-spacing: .1rem;
}